<a href="https://colab.research.google.com/github/VitalyGladyshev/gb_nlp/blob/main/HW_03_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ДЗ 03 NLP

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
path_nlp = "/content/gdrive/My Drive/Colab Notebooks/NLP/"

train_cor = pd.read_pickle(path_nlp + "train_cor.pkl")
test_cor = pd.read_pickle(path_nlp + "test_cor.pkl")

test_cor['label'] = -1

data = train_cor.copy()
data = data.append(test_cor, ignore_index=True)
data.tail(2)

          id  ...                                   tweet_lemmatized
49157  49158  ...  {happy, organizations, mindset, cultureofdevel...
49158  49159  ...  {free, newmusic, shoegaze, download, song, gla...

[2 rows x 8 columns]

## Задание 1

Используя библиотеку Spacy, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным?  (Учтите, что max_word_limit_spacy для Spacy = 1000000)
<br><br>С помощью Spacy выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор? 
<br><br>Повторим шаги из заданий 1 и 2, используя библиотеку nltk.

## Задание 2

Используя библиотеку nltk, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? Для данного задания используем ограничение на количество символов во входном датасете (max_word_limit_spacy = 1000000), чтобы иметь возможность сравнить результаты работы Spacy и nltk. Обратите внимание, что nltk чувствителен к регистру.
<br><br>С помощью nltk выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?

## Задание 3

Какая из библиотек по вашему лучше отработала? Сравните качество полученных most_common NER и количество распознаных NER.