In [195]:
import numpy as np
import pandas as pd
import re
import string

from typing import List, Optional, Dict, Tuple

In [196]:
pip install nltk

Requirement already satisfied: nltk in c:\users\viv232\anaconda3\envs\r_l\lib\site-packages (3.5)
Requirement already satisfied: regex in c:\users\viv232\anaconda3\envs\r_l\lib\site-packages (from nltk) (2020.9.27)
Requirement already satisfied: joblib in c:\users\viv232\anaconda3\envs\r_l\lib\site-packages (from nltk) (0.16.0)
Requirement already satisfied: tqdm in c:\users\viv232\anaconda3\envs\r_l\lib\site-packages (from nltk) (4.48.0)
Requirement already satisfied: click in c:\users\viv232\anaconda3\envs\r_l\lib\site-packages (from nltk) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [197]:
import nltk
from nltk import tokenize as tknz
from nltk.tokenize import word_tokenize, wordpunct_tokenize

# ДЗ_01

In [198]:
train = pd.read_csv("train_tweets.csv")
test = pd.read_csv("test_tweets.csv")

In [199]:
train.head(2)

   id  label                                              tweet
0   1      0   @user when a father IS dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...

In [200]:
test.head(2)

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...

In [201]:
test['label'] = -1

In [202]:
data = train.copy()
data = data.append(test, ignore_index=True)
data.tail(2)

          id  label                                              tweet
49157  49158     -1  happy, at work conference: right mindset leads...
49158  49159     -1  my   song "so glad" free download!  #shoegaze ...

## Задание 1
Заменим html-сущности (к примеру: < > &). "<" заменим на “<” и "&" заменим на “&”)""". Сделаем это с помощью HTMLParser.unescape(). Всю предобработку делаем в новом столбце 'clean_tweet'

In [203]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   49159 non-null  int64
 2   tweet   49159 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [204]:
data['tweet'].values

array([' @user when a father IS dysfunctional and is so selfish he drags his kids into his dysfunction.   #run',
       "@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked",
       '  bihday your majesty', ...,
       '#hillary #campaigned today in #ohio((omg)) &amp; used words like "assets&amp;liability" never once did #clinton say thee(word) #radicalization   ',
       'happy, at work conference: right mindset leads to culture-of-development organizations    #work #mindset',
       'my   song "so glad" free download!  #shoegaze #newmusic #newsong'],
      dtype=object)

In [205]:
np.array_str(data['tweet'].values[:5])

'[\' @user when a father IS dysfunctional and is so selfish he drags his kids into his dysfunction.   #run\'\n "@user @user thanks for #lyft credit i can\'t use cause they don\'t offer wheelchair vans in pdx.    #disapointed #getthanked"\n \'  bihday your majesty\'\n \'#model   i love u take with u all the time in urð\\x9f\\x93±!!! ð\\x9f\\x98\\x99ð\\x9f\\x98\\x8eð\\x9f\\x91\\x84ð\\x9f\\x91\\x85ð\\x9f\\x92¦ð\\x9f\\x92¦ð\\x9f\\x92¦  \'\n \' factsguide: society now    #motivation\']'

In [206]:
list(map(lambda x: re.sub(r'[><&]', "", x), data['tweet'].values[:5]))

[' @user when a father IS dysfunctional and is so selfish he drags his kids into his dysfunction.   #run',
 "@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked",
 '  bihday your majesty',
 '#model   i love u take with u all the time in urð\x9f\x93±!!! ð\x9f\x98\x99ð\x9f\x98\x8eð\x9f\x91\x84ð\x9f\x91\x85ð\x9f\x92¦ð\x9f\x92¦ð\x9f\x92¦  ',
 ' factsguide: society now    #motivation']

In [207]:
data['clean_tweet'] = list(map(lambda x: re.sub(r'[><&]', "", x), data['tweet'].values))
data.head()

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,@user when a father IS dysfunctional and is s...
1,2,0,@user @user thanks for #lyft credit i can't us...,@user @user thanks for #lyft credit i can't us...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

In [208]:
data.tail()

,id,label,tweet,clean_tweet
49154,49155,-1,thought factory: left-right polarisation! #tru...,thought factory: left-right polarisation! #tru...
49155,49156,-1,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð #hairflip #neverre...
49156,49157,-1,#hillary #campaigned today in #ohio((omg)) &am...,#hillary #campaigned today in #ohio((omg)) amp...
49157,49158,-1,"happy, at work conference: right mindset leads...","happy, at work conference: right mindset leads..."
49158,49159,-1,"my song ""so glad"" free download! #shoegaze ...","my song ""so glad"" free download! #shoegaze ..."

## Задание 2
Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()
при применении функции необходимо использовать np.vectorize(function).

In [209]:
def user_name_remove(data: pd.DataFrame):
    data['clean_tweet'] = list(map(lambda x: re.sub(r"@[\w]*", " ", x), data['clean_tweet'].values))

In [210]:
user_name_remove(data)
data.head()

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,when a father IS dysfunctional and is so se...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause ...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

In [211]:
data.tail()

,id,label,tweet,clean_tweet
49154,49155,-1,thought factory: left-right polarisation! #tru...,thought factory: left-right polarisation! #tru...
49155,49156,-1,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð #hairflip #neverre...
49156,49157,-1,#hillary #campaigned today in #ohio((omg)) &am...,#hillary #campaigned today in #ohio((omg)) amp...
49157,49158,-1,"happy, at work conference: right mindset leads...","happy, at work conference: right mindset leads..."
49158,49159,-1,"my song ""so glad"" free download! #shoegaze ...","my song ""so glad"" free download! #shoegaze ..."

## Задание 3

Изменим регистр твитов на нижний с помощью .lower().

In [212]:
data['clean_tweet'] = list(map(str.lower, data['clean_tweet'].values))
data.head()

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,when a father is dysfunctional and is so se...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause ...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

## Задание 4

Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [213]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}

In [214]:
def str_apostrophe_exch(in_str: str)->str:
    res = ""
    for word in in_str.split():
        if word in apostrophe_dict.keys():
            res += apostrophe_dict[word]
        else:
            res += word
        res += " "
    return res[:-1]

In [215]:
str_apostrophe_exch(data['tweet'].values[1])

'@user @user thanks for #lyft credit i cannot use cause they do not offer wheelchair vans in pdx. #disapointed #getthanked'

In [216]:
data['clean_tweet'] = list(map(str_apostrophe_exch, data['clean_tweet'].values))
data.head()

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,when a father is dysfunctional and is so selfi...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i cannot use cause the...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

## Задание 5

Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [217]:
short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}

In [218]:
def str_short_word_exch(in_str: str)->str:
    res = ""
    for word in in_str.split():
        if word in short_word_dict.keys():
            res += short_word_dict[word]
        else:
            res += word
        res += " "
    return res[:-1]

In [219]:
data["clean_tweet"] = list(map(str_short_word_exch, data["clean_tweet"].values))
data.head()

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,when a father is dysfunctional and is so selfi...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i cannot use cause the...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love you take with you all the time i...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

## Задание 6

Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [220]:
emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [221]:
def str_emoticon_exch(in_str: str)->str:
    res = ""
    for word in in_str.split():
        if word in emoticon_dict.keys():
            res += emoticon_dict[word]
        else:
            res += word
        res += " "
    return res[:-1]

In [222]:
data["clean_tweet"] = list(map(str_emoticon_exch, data["clean_tweet"].values))
data.head()

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,when a father is dysfunctional and is so selfi...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i cannot use cause the...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love you take with you all the time i...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

## Задание 7

Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

In [223]:
data["clean_tweet"] = list(map(lambda x: re.sub(r'[^\w\s]', "", x), data["clean_tweet"].values))
data.head(10)

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,when a father is dysfunctional and is so selfi...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i cannot use cause they...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love you take with you all the time in...
4,5,0,factsguide: society now #motivation,factsguide society now motivation
5,6,0,[2/2] huge fan fare and big talking before the...,22 huge fan fare and big talking before they l...
6,7,0,@user camping tomorrow @user @user @user @use...,camping tomorrow dannyâ
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for examsð ca...
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champions clev...
9,10,0,@user @user welcome here ! i'm it's so #gr...,welcome here I am it has it is so gr8

## Задание 8

Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

In [224]:
data["clean_tweet"] = list(map(lambda x: re.sub(r'[^a-zA-Z0-9]', " ", x), data["clean_tweet"].values))
data.head(10)

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,when a father is dysfunctional and is so selfi...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i cannot use cause they...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love you take with you all the time in...
4,5,0,factsguide: society now #motivation,factsguide society now motivation
5,6,0,[2/2] huge fan fare and big talking before the...,22 huge fan fare and big talking before they l...
6,7,0,@user camping tomorrow @user @user @user @use...,camping tomorrow danny
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for exams ca...
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champions clev...
9,10,0,@user @user welcome here ! i'm it's so #gr...,welcome here I am it has it is so gr8

## Задание 9

Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

In [225]:
data["clean_tweet"] = list(map(lambda x: re.sub(r'[^a-zA-Z]', " ", x), data["clean_tweet"].values))
data.head(10)

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,when a father is dysfunctional and is so selfi...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i cannot use cause they...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love you take with you all the time in...
4,5,0,factsguide: society now #motivation,factsguide society now motivation
5,6,0,[2/2] huge fan fare and big talking before the...,huge fan fare and big talking before they l...
6,7,0,@user camping tomorrow @user @user @user @use...,camping tomorrow danny
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for exams ca...
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champions clev...
9,10,0,@user @user welcome here ! i'm it's so #gr...,welcome here I am it has it is so gr

## Задание 10

Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

In [226]:
data["clean_tweet"] = list(map(lambda x: ' '.join([w for w in x.split() if len(w)>1]), data["clean_tweet"].values))
data.head(10)

,id,label,tweet,clean_tweet
0,1,0,@user when a father IS dysfunctional and is s...,when father is dysfunctional and is so selfish...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model love you take with you all the time in ur
4,5,0,factsguide: society now #motivation,factsguide society now motivation
5,6,0,[2/2] huge fan fare and big talking before the...,huge fan fare and big talking before they leav...
6,7,0,@user camping tomorrow @user @user @user @use...,camping tomorrow danny
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for exams can...
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champions clev...
9,10,0,@user @user welcome here ! i'm it's so #gr...,welcome here am it has it is so gr

## Задание 11

Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [227]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\viv232\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [228]:
word_tokenize(data["clean_tweet"].values[0])

['when',
 'father',
 'is',
 'dysfunctional',
 'and',
 'is',
 'so',
 'selfish',
 'he',
 'drags',
 'his',
 'kids',
 'into',
 'his',
 'dysfunction',
 'run']

In [229]:
data['tweet_token'] = list(map(word_tokenize, data["clean_tweet"].values))

In [230]:
data.head(10)

,id,label,tweet,clean_tweet,tweet_token
0,1,0,@user when a father IS dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,..."
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau..."
2,3,0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]"
3,4,0,#model i love u take with u all the time in ...,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]"
5,6,0,[2/2] huge fan fare and big talking before the...,huge fan fare and big talking before they leav...,"[huge, fan, fare, and, big, talking, before, t..."
6,7,0,@user camping tomorrow @user @user @user @use...,camping tomorrow danny,"[camping, tomorrow, danny]"
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for exams can...,"[the, next, school, year, is, the, year, for, ..."
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champions clev...,"[we, won, love, the, land, allin, cavs, champi..."
9,10,0,@user @user welcome here ! i'm it's so #gr...,welcome here am it has it is so gr,"[welcome, here, am, it, has, it, is, so, gr]"

## Задание 12

Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [231]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\viv232\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [232]:
from nltk.corpus import stopwords

In [233]:
[word for word in data["tweet_token"].values[0] if not word in stopwords.words("english")]

['father', 'dysfunctional', 'selfish', 'drags', 'kids', 'dysfunction', 'run']

In [234]:
data['tweet_token_filtered'] = list(map(lambda x: [word for word in x if not word in stopwords.words("english")], 
                                        data["tweet_token"].values))

In [235]:
data.head()

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered
0,1,0,@user when a father IS dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,4,0,#model i love u take with u all the time in ...,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]"
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"

## Задание 13

Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [236]:
from nltk.stem.snowball import SnowballStemmer

In [237]:
snowball = SnowballStemmer('english')

In [238]:
data["tweet_token_filtered"].values[0]

['father', 'dysfunctional', 'selfish', 'drags', 'kids', 'dysfunction', 'run']

In [239]:
[snowball.stem(word) for word in data["tweet_token_filtered"].values[0]]

['father', 'dysfunct', 'selfish', 'drag', 'kid', 'dysfunct', 'run']

In [240]:
data['tweet_stemmed'] = list(map(lambda x: set(snowball.stem(word) for word in x), data["tweet_token_filtered"].values))

In [241]:
data.head()

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed
0,1,0,@user when a father IS dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","{father, drag, dysfunct, run, selfish, kid}"
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","{wheelchair, pdx, credit, thank, getthank, lyf..."
2,3,0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","{bihday, majesti}"
3,4,0,#model i love u take with u all the time in ...,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","{model, love, take, time, ur}"
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","{factsguid, motiv, societi}"

## Задание 14

Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [242]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\viv232\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [243]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [244]:
lemmatizer = WordNetLemmatizer()

In [245]:
data["tweet_token_filtered"].values[0]

['father', 'dysfunctional', 'selfish', 'drags', 'kids', 'dysfunction', 'run']

In [246]:
[lemmatizer.lemmatize(word, pos=wordnet.VERB) for word in data["tweet_token_filtered"].values[0]]

['father', 'dysfunctional', 'selfish', 'drag', 'kid', 'dysfunction', 'run']

In [247]:
data['tweet_lemmatized'] = list(map(lambda x: set(lemmatizer.lemmatize(word, pos=wordnet.VERB) for word in x), 
                                    data["tweet_token_filtered"].values))

In [248]:
data.head()

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0,@user when a father IS dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","{father, drag, dysfunct, run, selfish, kid}","{father, drag, dysfunctional, dysfunction, run..."
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","{wheelchair, pdx, credit, thank, getthank, lyf...","{use, wheelchair, pdx, credit, vans, thank, ge..."
2,3,0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","{bihday, majesti}","{bihday, majesty}"
3,4,0,#model i love u take with u all the time in ...,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","{model, love, take, time, ur}","{model, love, take, time, ur}"
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","{factsguid, motiv, societi}","{motivation, factsguide, society}"

## Задание 15

Сохраним результат предобработки в pickle-файл.

In [249]:
data.loc[data['label'] != -1].to_pickle("train_cor.pkl")

In [250]:
data.loc[data['label'] == -1].drop('label', axis=1).head().to_pickle("test_cor.pkl")