<a href="https://colab.research.google.com/github/VitalyGladyshev/gb_nlp/blob/main/HW_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ДЗ 02 Пока заглушка. Скоро сделаю и сдам...

In [2]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
path_nlp = "/content/gdrive/My Drive/Colab Notebooks/NLP/"

In [5]:
train_cor = pd.read_pickle(path_nlp + "train_cor.pkl")
test_cor = pd.read_pickle(path_nlp + "test_cor.pkl")

In [6]:
train_cor.tail(2)

          id  ...                                   tweet_lemmatized
31960  31961  ...  {act, vandalise, sikh, wso, temple, condemn, c...
31961  31962  ...                                    {thank, follow}

[2 rows x 8 columns]

In [7]:
test_cor.tail(2)

          id  ...                                   tweet_lemmatized
49157  49158  ...  {conference, right, happy, cultureofdevelopmen...
49158  49159  ...  {free, song, glad, newmusic, download, shoegaz...

[2 rows x 7 columns]

In [8]:
test_cor['label'] = -1

In [9]:
data = train_cor.copy()
data = data.append(test_cor, ignore_index=True)
data.tail(2)

          id  ...                                   tweet_lemmatized
49157  49158  ...  {conference, right, happy, cultureofdevelopmen...
49158  49159  ...  {free, song, glad, newmusic, download, shoegaz...

[2 rows x 8 columns]

## Задание 1

Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
- Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
- Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
- Исключим стоп-слова с помощью stop_words='english'.
- Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
count_vectorizer_stemmed = CountVectorizer(stop_words='english', max_df=0.9, max_features=1000)
count_vectorizer_lemmatized = CountVectorizer(stop_words='english', max_df=0.9, max_features=1000)

In [28]:
list(map(lambda x: " ".join(x), data['tweet_stemmed'].values[:10]))

['kid drag father selfish dysfunct run',
 'getthank thank offer caus use pdx van lyft disapoint wheelchair credit',
 'majesti bihday',
 'love model ur time take',
 'factsguid societi motiv',
 'pay get leav fare disput allshowandnogo chao talk big fan huge',
 'danni camp tomorrow',
 'school year next think revolutionschool girl exam imagin hate actorslif',
 'cav love allin cleveland land champion clevelandcavali',
 'gr welcom']

In [29]:
bag_of_words_stemmed = count_vectorizer_stemmed.fit_transform(list(map(lambda x: " ".join(x), data['tweet_stemmed'].values)))
bag_of_words_lemmatized = count_vectorizer_lemmatized.fit_transform(list(map(lambda x: " ".join(x), data['tweet_lemmatized'].values)))

In [30]:
bag_of_words_stemmed

<49159x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 202636 stored elements in Compressed Sparse Row format>

In [31]:
bag_of_words_lemmatized

<49159x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 191072 stored elements in Compressed Sparse Row format>

In [41]:
df_count_vect_stemmed = pd.DataFrame(bag_of_words_stemmed.toarray(), columns=count_vectorizer_stemmed.get_feature_names())
df_count_vect_stemmed.head(2)

   abl  absolut  accept  account  act  ...  young  youtub  yr  yrs  yummi
0    0        0       0        0    0  ...      0       0   0    0      0
1    0        0       0        0    0  ...      0       0   0    0      0

[2 rows x 1000 columns]

In [42]:
df_count_vect_lemmatized = pd.DataFrame(bag_of_words_lemmatized.toarray(), columns=count_vectorizer_lemmatized.get_feature_names())
df_count_vect_lemmatized.head(2)

   able  absolutely  accept  account  act  ...  young  youtube  yr  yrs  yummy
0     0           0       0        0    0  ...      0        0   0    0      0
1     0           0       0        0    0  ...      0        0   0    0      0

[2 rows x 1000 columns]

## Задание 2

Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
- Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
- Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
- Исключим стоп-слова с помощью stop_words='english'.
- Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
tfidf_vectorizer_stemmed = TfidfVectorizer(stop_words='english', max_df=0.9, max_features=1000)
tfidf_vectorizer_lemmatized = TfidfVectorizer(stop_words='english', max_df=0.9, max_features=1000)

In [35]:
bag_of_words_tfidf_stemmed = tfidf_vectorizer_stemmed.fit_transform(list(map(lambda x: " ".join(x), data['tweet_stemmed'].values)))
bag_of_words_tfidf_lemmatized = tfidf_vectorizer_lemmatized.fit_transform(list(map(lambda x: " ".join(x), data['tweet_lemmatized'].values)))

In [36]:
bag_of_words_tfidf_stemmed

<49159x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 202636 stored elements in Compressed Sparse Row format>

In [37]:
bag_of_words_tfidf_lemmatized

<49159x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 191072 stored elements in Compressed Sparse Row format>

In [43]:
df_tfidf_vect_stemmed = pd.DataFrame(bag_of_words_tfidf_stemmed.toarray(), columns=tfidf_vectorizer_stemmed.get_feature_names())
df_tfidf_vect_stemmed.head(2)

   abl  absolut  accept  account  act  ...  young  youtub   yr  yrs  yummi
0  0.0      0.0     0.0      0.0  0.0  ...    0.0     0.0  0.0  0.0    0.0
1  0.0      0.0     0.0      0.0  0.0  ...    0.0     0.0  0.0  0.0    0.0

[2 rows x 1000 columns]

In [44]:
df_tfidf_vect_stemmed = pd.DataFrame(bag_of_words_tfidf_lemmatized.toarray(), columns=tfidf_vectorizer_lemmatized.get_feature_names())
df_tfidf_vect_stemmed.head(2)

   able  absolutely  accept  account  act  ...  young  youtube   yr  yrs  yummy
0   0.0         0.0     0.0      0.0  0.0  ...    0.0      0.0  0.0  0.0    0.0
1   0.0         0.0     0.0      0.0  0.0  ...    0.0      0.0  0.0  0.0    0.0

[2 rows x 1000 columns]

## Задание 3

Натренируем gensim.models.Word2Vec модель на наших данных.
- Тренировать будем на токенизированных твитах combine_df['tweet_token']
- Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.
- Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

## Задание 4

Давайте немного потестируем нашу модель Word2Vec и посмотрим, как она работает. Мы зададим слово positive = "dinner", и модель вытащит из корпуса наиболее похожие слова c помощью функции most_similar. То же самое попробуем со словом "trump".

## Задание 5

Из приведенных выше примеров мы видим, что наша модель word2vec хорошо справляется с поиском наиболее похожих слов для данного слова. Но как она это делает? Она изучила векторы для каждого уникального слова наших данных и использует косинусное сходство, чтобы найти наиболее похожие векторы (слова).
<br>Давайте проверим векторное представление любого слова из нашего корпуса, например "food".

## Задание 6

Поскольку наши данные содержат твиты, а не только слова, нам придется придумать способ использовать векторы слов из модели word2vec для создания векторного представления всего твита. Существует простое решение этой проблемы, мы можем просто взять среднее значение всех векторов слов, присутствующих в твите. Длина результирующего вектора будет одинаковой, то есть 200. Мы повторим тот же процесс для всех твитов в наших данных и получим их векторы. Теперь у нас есть 200 функций word2vec для наших данных.
<br>Необходимо создать вектор для каждого твита, взяв среднее значение векторов слов, присутствующих в твите. В цикле сделать:  vec += model_w2v[word].reshape((1, size)) и поделить финальный вектор на количество слов в твите. На выходе должен получиться wordvec_df.shape = (49159, 200).